# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dev-dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


coverage
package-lock.json

# Add this files:
public/products

config/.env
config/.env.production
config/.env.testing

public/favicon.ico
public/assets/media/logo/logo.png
public/assets/media/pwa/favicon.png
public/assets/media/pwa/logo-192.png
public/assets/media/pwa/logo-512.png

manifest.ts
index.html
